body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background: linear-gradient(to right, #074fad, #5593b7);
    border-radius: 2rem;
  }
  .container {
    text-align: center;
    text-transform: capitalize;
  }
  h2 {
    font-size: 3rem;
    color: rgb(60, 255, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h4 {
    font-size: 2rem;
    color: #2b2f58;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  P {
    font-size: 1.5rem;
    color: rgb(16, 9, 9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .image img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 43%;
    width: 15%;

  }